.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--grey--);
    background-image: url('../../images/background1.jpg');
    background-size: cover;
    background-position: center center;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin-top: 90px;
}

.city {
    text-align: center;
}

.countryid{
    margin-left: 3px;
    background: var(--orange--);
    border-radius: 40px;
    padding: 5px;
    font-size: small;
}

.degreeInfo{
    position: relative;
    top: 220px;
    text-align: center;
    color: var(--white--);
}

img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 260px;
    width: 300px;
}

.error{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

small{
    color: var(--darkenRed--);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}